*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(41, 52, 58);
}
.outer{
    background: whitesmoke;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;
}
h1{
    text-align: center;
    text-shadow: 0px 0px 5px rgb(170, 161, 161);
    border-bottom: 1px solid grey;
    padding-bottom: 40px;
}
h2{
    margin-top: 2%;
}
#ans{
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem ;
    gap: 0.5rem;
}
.btn{
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.09) 0%, rgb(240, 245, 254) 100%);
    border-radius: 5px;
    height: 30px;
    border: 1px solid grey;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.btn:hover{
    background-color: lightslategrey;
    color: whitesmoke;
}
#nextContainer{
    display: none;
    justify-content: center;
    margin-top: 2%;

}
#next-btn{
    background-color: rgb(104, 94, 94);
    color: white;
    font-size: 1rem;
    padding: 2px;
    transition: none;
}
#next-btn:hover{
    background-color: rgb(176, 207, 239);
    color: rgb(0, 0, 0);
}